
# Hidden files
.*

# Cromwell execution logs and such
cromwell-executions
cromwell-workflow-logs

# External packages used in analysis

# Some of my initial testing
testGCloud
testTrimGalore

# Rat and human genomes
genome_dir

# Test conda environment setup, not needed
condaEnv.yml

# Any large or zipped files
*.fastq
*.fq
*.tar
*.gz

# Test Data
sampleData
sampleOutput

sample_list
compare_results

bismark_qc.csv
checksum_compare/
copy_from_gcp.sh
custom_scripts/collect_qc_metrics.pyc
logs/
metadata_sinai/
pipeline_diffs.txt
pipeline_wdl/
qc_report_sinai/
rrbs-WDL-workflow.png
verify_checksums/
input_json/
