
# Hidden files
.*

# Cromwell execution logs and such
cromwell-executions
cromwell-workflow-logs

# External packages used in analysis

# Some of my initial testing
testGCloud
testTrimGalore

# Rat and human genomes
genome_dir

# Test conda environment setup, not needed
condaEnv.yml

# Any large or zipped files
*.fastq
*.fq
*.tar
*.gz

# Test Data
sampleData
sampleOutput
