[submodule "vendor/NuMetRRBS"]
	path = vendor/NuMetRRBS
    url = https://github.com/nugentechnologies/NuMetRRBS.git 

[submodule "vendor/nudup"]
	path = vendor/nudup
    url = https://github.com/nugentechnologies/nudup.git

[submodule "vendor/motrpac_rnaseq"]
	path = vendor/motrpac_rnaseq
	url = git@github.com:MoTrPAC/motrpac-rna-seq-pipeline.git
