[submodule "external_scripts/NuMetRRBS"]
    path = external_scripts/NuMetRRBS 
    url = https://github.com/nugentechnologies/NuMetRRBS.git 
[submodule "external_scripts/motrpac_rnaseq"]
    path = external_scripts/motrpac_rnaseq
    url = https://github.com/yongchao/motrpac_rnaseq.git
[submodule "external_scripts/motrpac_rrbs"]
    path = external_scripts/motrpac_rrbs
    url = https://github.com/yongchao/motrpac_rrbs.git
[submodule "external_scripts/nudup"]
    path = external_scripts/nudup
    url = https://github.com/nugentechnologies/nudup.git

